{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
  <div style="max-width: 600px; padding-top: 10px;" class="container font-monospace">
    <div class="row">
    <div class="col align-self-center" style="">
        <div class="owl-icon-container">
          {% include "./src/images/big-owl-svgrepo-com.svg" %}
        </div>
      </div>
      <div class="col align-self-center text-center">
        <h1 class="m-0 justify-content-center" style="color: #fff;">Menu</h1>
      </div>

      <div class="col align-self-center" style="text-align:right;">
        <img src="./src/images/website-qr-code.svg" style="max-height: 120px"/>
      </div>
    </div>
  </div>
  <div style="max-width: 600px; margin-top: 10px;" class="container px-0 font-monospace">
    <div class="row">
      <div class="col" style="padding-right: 0;">
        <table class="table table-dark table-striped align-middle">
          {# <thead class="thead-dark">
        <tr>
          <th scope="col">Drinks</th>
          <th scope="col">Price</th>
        </tr>
      </thead> #}
          <tbody>
            {% for name, drinks in report.allDrinksByCategory %}
              {% set categoryId = loop.index0 %}
              <tr id="category-{{ categoryId }}">
                <td class="table-light" colspan="2">
                  <h5 class="h5 m-0">{{ name }}</h5>
                </td>
              </tr>
              {% for drink in drinks %}
                <tr id="drink-{{ categoryId }}-{{ loop.index0 }}">
                  <td>
                    <div class="fw-bold">{{ drink.title }}</div>
                    {% if drink.ingredients %}
                      {% set ingredientsConcatString = drink
                        .ingredients
                        .join(', ') %}
                      <p class="m-0">{{ ingredientsConcatString }}</p>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    <div class="m-0" style="white-space: nowrap;">{{ drink.price }} &euro;</div>
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
